<!DOCTYPE html>

    <html>

        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Midtown Assistance Tutoring</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
            <link rel="stylesheet" type="text/css" href="/css/login_signup.css"/>
            <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/css/about_us.css"/>
            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

        </head>

        <body>
            <div id="root"></div>
            <script src="/js/entry1.bundle.js"></script>
        </body>

    </html>