<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>

</head>
<body>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
<div id="root">
</div>

<script src="/js/entry1.bundle.js"></script>
</body>
</html>