<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css"/>
</head>
<body>
    <div style="margin-left: 40%; margin-top: 17%">
        <div id="root"></div>
    </div>

    <script src="/js/entry1.bundle.js"></script>
</body>
</html>