:root {
    /*--gold: #d4af37;*/
    --gold: #EEB211;
    --gray: #aeb7b3;
    --ltgray: #f1f6f7;
    --dkgray: #5f6462;
    --purple: #160c28;
    --black: #000411;
    --blackhover: #222633;
    --lighterblack: #383B47;
    --tutorBorderColor: var(--gray);
    --primaryLight: #EEEEEE;
}

body {
	height: 100%;
	width: 100%;
    font-family: 'Lato', sans-serif;

}

/* Navigation */
.navigationbar {
  /*background-color: #EEB211 ! important;*/
  background-color: var(--gold);
  /*background-color:var(--black);*/
  margin-bottom: 0;
  border: 0;
  border-radius: 0 ! important;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
  z-index: 99;

}

.navbartext, .navbartext > a, .navbarheader {
    color: var(--black) ! important;
    /*color: var(--gold) ! important;*/
}

.navbartext:hover, .navbartext > a:hover, .navbarheader:hover {
   color: var(--dkgray) ! important;
   /*color: var(--ltgray) ! important;*/
}

.navbarheader {
    font-size: 1.5em;
}

.nav-prof-pic {
    margin-top: 10px;
}

.dropdown-menu-button {
    /*background-color: #EEB211;*/
    background-color: var(--gold);
    /*background-color: var(--black);*/
    border: 0;
    margin-top: 10px;
    font-size: 1em;
    color: var(--black);
    /*color: var(--gold);*/
}

.dropdown-menu-button:hover {
    /*background-color: #EEB211;*/
    background-color: var(--gold);
    color: var(--dkgray);
    /*background-color: var(--black);
    color: var(--ltgray);*/
}

.open>.dropdown-menu-button {
    /*background: #EEB211 ! important;*/
    background-color: var(--gold) ! important;
    /*background-color: var(--black) ! important;
    color: var(--ltgray);*/
    border: 0;
}

/*Dash*/
.search-items {
    border: 1px solid var(--gray);
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;

}

.search-input {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 0;
    border-right: 1px solid var(--gray) ! important;
}

.search-btn {
    border-radius: 0;
    height: 100% ! important;
    -webkit-box-shadow: none ! important;
    -moz-box-shadow: none ! important;
    box-shadow: none ! important;
    margin-left: 0px ! important;
}

.search-btn:hover {
    color: var(--gold);
    background-color: white;
}

.search-select {
    -webkit-border-radius: 0px ! important;
    -moz-appearance: none;
    -moz-border-radius: 0px ! important;
    appearance: none;
    border-radius: 0px ! important;
}

@media screen and (max-width:800px) {
    .search-select {
        display: none;
    }

    .search-input {
        border-bottom: 1px solid var(--gray);
    }
}

.star {
    margin-bottom: 5px;
}

.tutor-name, .panel-anchor {
    color: var(--purple);
}

.tutor-name:hover, .panel-anchor:hover {
    text-decoration: none;
    color: var(--gold);
}

.tutor-name:focus {
    text-decoration:none ! important;
    color: var(--dkgray) ! important;
}

.tutor-panel {
    border-radius: 0;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 0 ! important;


}

.tutors-list {
    border-top: 1px solid var(--tutorBorderColor) ! important;
    border-right: 1px solid var(--tutorBorderColor) ! important;
    border-left: 1px solid var(--tutorBorderColor) ! important;

}

.tutor-panel-heading {
    border-radius: 0 ! important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    padding: 1%;
    border-bottom: 1px solid var(--tutorBorderColor) ! important;
    /*background-color: var(--ltgray) ! important;*/
}

.tutor-panel-body {
    border-top: 0 ! important;
    border-bottom: 1px solid var(--tutorBorderColor) ! important;

}

.tutor-list-wrapper {
    padding: 0;
}

.tutors-list {
    margin-top: 2%;
    margin-bottom: 0;
}

.tutors-header {
    color: var(--black);
    font-weight: 400;
}



.tutor_details {
    margin-bottom: 3%;
}

.request_hangout {
    margin-top: 3%;
}

.small_img {
    margin-right: 2%;
    margin-bottom: 1%;
}
.atlanta {
    background: url("/images/atlanta.png");
    margin-top: 0;
    padding: 7%;
    margin-bottom: 5%;
    background-position: center;
    background-size: 100% 100%;
    min-height: 300px;
}

.form-group.row {
    margin: 5px;
}

/*Admin Dash*/

.tutor-dash-wrapper {
    padding: 0;
}
.approve-tutors-panel {
    background-color: var(--blackhover);
    height: 92.5vh;
    margin-left: 0;
    overflow-y: scroll;
    padding-top: 1%;
    border-right: 1px double var(--gray);
    padding: 1%;
    color: var(--gray);

}

.tutor-dash-header {
    font-weight: 300;
}

.approve-tutor-item {
  box-shadow: 0 0 2px 0 var(--black), 0 0px 5px 0 var(--lighterblack);
  padding: 0px 5px 15px 5px;
  margin-bottom: 1%;
  background-color: var(--lighterblack);
  color: var(--ltgray);
}

.approve-tutors-list {
    margin-top: 5%;
}

.approve-button, .reject-button {
    border-radius: 0;
    width: 30%;
}

.usage-chart {
    margin-top: 5%;
}

.legend {
    margin-top: 5%;
}
.tutor-statistics {
    padding-top: 1%;
    height: 92.5vh;
    color: var(--blackhover);
    /*border-bottom: 1px double var(--gray);
    height: 50vh;*/
}

.student-box {
    background-color: var(--blackhover);
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 5px;
}

.tutor-box {
    background-color: var(--gold);
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 5px;
}

.student-value, .tutor-value {
    display: inline-block;
}

/*general*/
.mac_button {
    border: 1px solid var(--black);
    color: var(--black);
    margin-left: 1%;
}

.mac_button:hover {
    border: 1px solid var(--gold);
    color: var(--gold);
    background-color: inherit;
}

.gold_text {
    color: var(--gold);
}

.lighter-text {
    font-weight:300;
}

.capitalize {
    text-transform: capitalize;
}

.mac_anchor {
    color: var(--ltgray);
}

.mac_anchor:hover {
    color: var(--gold);
    text-decoration: none;
}

.mac_button_group {
    color: var(--lighterblack);
    border-radius: 0;
}
.mac_button_group:hover {
    color: var(--gold);
}




