/* Signup Tutor Form */
:root {
    --gold: #d4af37;
    --gray: #aeb7b3;
    --ltgray: #f1f6f7;
    --dkgray: #5f6462;
    --purple: #160c28;
    --black: #000411;
    --blackhover: #222633;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.signup-form {
    height: 60vh;
    margin-top: 20vh;
    min-height: 300px;
    padding: 2%;
    overflow-y: scroll;
    #background-color: var(--ltgray);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: 2px solid var(--gold);
    padding-right: 0;
    padding-left: 2%;
}

.signup-form .signup-header {
    color: var(--black);
}

.signup-form input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid var(--gray);
    border-radius: 0px;
    margin-top: 2%;
    background-color: var(--ltgray)
    color: var(--dkgray)
}

.signup-form .signup-button {
    border: 2px solid var(--ltgray);
    background-color: var(--gold);
    color: var(--ltgray);
    margin-top: 5%;
    margin-bottom: 3%;
    border-radius: 10px;
}

.signup-form .signup-button:hover {
    #color: var(--black);
    #border: 2px solid var(--black);
    background-color: var(--gray);
}